<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Homepage</title>
  </head>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

    body {
      background-color: #c2f8e2;
      font-family: 'Roboto', helvetica, arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-rendering: optimizeLegibility;
    }

    div.table-title {
      display: block;
      margin: 50px auto;
      max-width: 600px;
      padding: 5px;
      width: 100%;
    }

    .table-title h3 {
      color: black;
      font-size: 30px;
      font-weight: 600;
      font-style: normal;
      font-family: 'Roboto', helvetica, arial, sans-serif;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
    }

    /*** Table Styles **/

    .table-fill {
      background: white;
      border-radius: 3px;
      border-collapse: collapse;
      height: 320px;
      margin: auto;
      max-width: 900px;
      padding: 5px;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      animation: float 5s infinite;
    }

    th {
      color: #d5dde5;
      background: #1b1e24;
      border-bottom: 4px solid #9ea7af;
      border-right: 1px solid #343a45;
      font-size: 23px;
      font-weight: 300;
      padding: 24px;
      text-align: left;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      vertical-align: middle;
    }

    th:first-child {
      border-top-left-radius: 3px;
    }

    th:last-child {
      border-top-right-radius: 3px;
      border-right: none;
      text-align: center;
    }

    tr {
      border-top: 1px solid #c1c3d1;
      border-bottom-: 1px solid #c1c3d1;
      color: #666b85;
      font-size: 16px;
      font-weight: normal;
      text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    tr:hover td {
      background: #4e5066;
      color: #ffffff;
      border-top: 1px solid #22262e;
    }

    tr:first-child {
      border-top: none;
    }

    tr:last-child {
      border-bottom: none;
    }

    tr:nth-child(odd) td {
      background: #ebebeb;
    }

    tr:nth-child(odd):hover td {
      background: #4e5066;
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: 3px;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: 3px;
    }

    td {
      background: #ffffff;
      padding: 5px 20px;
      text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: 18px;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
      border-right: 1px solid #c1c3d1;
    }

    td:last-child {
      border-right: 0px;
    }

    th.text-left {
      text-align: left;
    }

    th.text-center {
      text-align: center;
    }

    th.text-right {
      text-align: right;
    }

    td.text-left {
      text-align: left;
    }

    td.text-center {
      text-align: center;
    }

    td.text-right {
      text-align: right;
    }

    .edit-btn {
      fill: #5e93de;
      height: 16px;
      width: 16px;
    }
    .delete-btn {
      fill: #ff4d4d;
      height: 16px;
      width: 16px;
    }

    .btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }

    .btn:hover {
      background-color: white;
    }
  </style>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <!-- <div class="form-add-new">
      <form action="/create-user" method="POST">
        <fieldset>
          <legend>Form add new users</legend>
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" />
          </div>
          <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
          </div>
          <div class="input-group">
            <label for="city">City:</label>
            <input type="city" id="city" name="city" />
          </div>
          <div>
            <button>Save</button>
          </div>
        </fieldset>
      </form>
    </div> -->
    <div class="table-title">
      <h3>List Users</h3>
    </div>
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">Email</th>
          <th class="text-left">Name</th>
          <th class="text-left">City</th>
          <th style="text-align: center" class="text-left">Actions</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
        <tr>
          <td class="text-left"><%= listUsers[i].id %></td>
          <td class="text-left"><%= listUsers[i].email %></td>
          <td class="text-left"><%= listUsers[i].name %></td>
          <td class="text-left"><%= listUsers[i].city %></td>
          <td style="text-align: center">
            <button type="button" class="btn" style="margin-right: 5px">
              <svg
                class="edit-btn"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"
                />
              </svg>
            </button>
            <button type="button" class="btn">
              <svg
                class="delete-btn"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
                />
              </svg>
            </button>
          </td>
        </tr>
        <% } %> -->
        <!-- Foreach -->
        <% listUsers.forEach((user) => { %>
        <tr>
          <td class="text-left"><%= user.id %></td>
          <td class="text-left"><%= user.email %></td>
          <td class="text-left"><%= user.name %></td>
          <td class="text-left"><%= user.city %></td>
          <td style="text-align: center">
            <button
              onclick="location.href='/update/<%= user.id %>'"
              type="button"
              class="btn"
              style="margin-right: 5px"
            >
              <svg
                class="edit-btn"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32
                l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"
                />
              </svg>
            </button>
            <button type="button" class="btn">
              <svg
                class="delete-btn"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
                />
              </svg>
            </button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
